body {
	font-family: 'ProximaNova-Regular';
	font-size: 16px;
	line-height: 18px;
	color: #242424;
	height: 100%;
}
img {
	max-width: 100%;
}
@font-face {
	font-family: 'ProximaNova-Black';
	src: url('fonts/ProximaNova-Black/ProximaNova-Black.eot') format('embedded-opentype'), 
	url('fonts/ProximaNova-Black/ProximaNova-Black.woff') format('woff'),
	url('fonts/ProximaNova-Black/ProximaNova-Black.ttf')  format('truetype'), 
	url('fonts/ProximaNova-Black/ProximaNova-Black.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: 'ProximaNova-Bold';
	src: url('fonts/ProximaNova-Bold/ProximaNova-Bold.eot') format('embedded-opentype'), 
	url('fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
	url('fonts/ProximaNova-Bold/ProximaNova-Bold.ttf')  format('truetype'), 
	url('fonts/ProximaNova-Bold/ProximaNova-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: 'ProximaNova-Regular';
	src: url('fonts/ProximaNova-Regular/ProximaNova-Regular.eot') format('embedded-opentype'), 
	url('fonts/ProximaNova-Regular/ProximaNova-Regular.woff') format('woff'),
	url('fonts/ProximaNova-Regular/ProximaNova-Regular.ttf')  format('truetype'), 
	url('fonts/ProximaNova-Regular/ProximaNova-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  @font-face {
	font-family: 'ProximaNova-SemiBold';
	src: url('fonts/ProximaNova-SemiBold/ProximaNova-SemiBold.eot') format('embedded-opentype'), 
	url('fonts/ProximaNova-SemiBold/ProximaNova-SemiBold.woff') format('woff'),
	url('fonts/ProximaNova-SemiBold/ProximaNova-SemiBold.ttf')  format('truetype'), 
	url('fonts/ProximaNova-SemiBold/ProximaNova-SemiBold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
  }
  
  /* Header */

.header {
	position: relative;
	height: 100%;
}
.background {
	background: url(../img/header-bg.png) 50% 0 no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}
.h1 {
	font-family: 'ProximaNova-Regular';
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
}
.h1_color-white {
	font-family: 'ProximaNova-Black';
	color: white;
	padding: 19px 0;
}
.nav {
	border-bottom: 1px solid #ffffff;
	box-shadow: 0 5px 11px rgba(0, 0, 0, 0.05);
	box-sizing: border-box;
}
.navbar-custom {
padding: 0;
}
.nav-link-dark {
	font-family: 'ProximaNova-Regular';
	font-size: 18px;
	font-weight: 400;
	color: #000 !important;
	border-bottom: 4px solid transparent;
	padding: 18px 0;
}
.nav-link-dark:focus {
	font-family: 'ProximaNova-Regular';
	font-size: 18px;
	outline: none;
	color: #000!important;
	border-bottom: 4px solid #fddb33;
	font-weight: 700;
}
.nav-link__img {
	width: 18px;
	height: 16px;
	margin-right: 10px;

}
/* menu */ 
.menu {
	border-bottom: 1px solid rgba(151, 151, 151, 0.4);
	padding: 13px 0;
}
.profile {
font-size: 20px;
line-height: 30px;
color: #4e697e!important;
font-weight: 700;
cursor: pointer;
}
.profile-img {
	margin-right: 15px;;
}
.account {
	font-size: 14px;
	line-height: 30px;
	color: #4e697e!important;
	text-decoration: underline!important;
	cursor: pointer;
	font-weight: 700;
	text-align: center;
}
 .buro-title {
	 font-size: 40px;
	 line-height: 30px;
	 text-transform: uppercase;
	 font-weight: 700;
	 margin: 46px 0 34px;
 }
 .buro-subtitle {
	font-family: 'ProximaNova-SemiBold';
	 font-size: 20px;
	 font-weight: 600;
 }
 .buro-text {
	 line-height: 30px;
	 margin-bottom: 24px;
 }

 /* Accordion */
 .accordion .collapsed .ui-accordion-header-icon{
	content: '';
	display: inline-block;
	background-image: url(../img/plus.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 22px;
	vertical-align: middle;	
  }
  .accordion  .ui-accordion-header-icon {
	content: '';
	display: inline-block;
	background-image: url(../img/minus.svg);
	background-repeat: no-repeat;
	width: 20px;
	height: 22px;
	vertical-align: middle;	
  }
 .faq-accordion {
	 margin-top: 10px;
 }
 .accordion-card-header {
	 border-radius: 10px 10px 0 0!important;
	 background-color: #f4f3f1;
	 margin-top: 8px;
	 padding: 25px 27px 19px 52px;
 }
 .btn-accordion {
	font-family: 'ProximaNova-SemiBold';
	font-size: 20px;
	line-height: 23px;
	color: inherit!important;
	text-decoration: none!important;
	cursor: pointer;
	padding: 0;
 }
 
 .accordion-card-body {
	 padding: 28px 52px;
 }
 .h5-title {
	 font-size: 20px;
	 line-height: 20px;
	 font-weight: 700;
	 color: inherit;
	 margin-top: 52px!important;
 }
 .media-body-text {
	 margin: 12px 0 0;
}
/* Footer */

.partner {
	background: url(../img/footer-partner-bg.png) 100% no-repeat;
	background-size: cover;
	padding: 30px 0 ;
	}
.custom-button {
	font-family: 'ProximaNova-Regular';
	font-size: 20px;
	font-weight: 700;
	padding: 20px 33px;
	border: none;
	border-radius: 10px;
}
.partner-text {
	font-family: 'ProximaNova-Black';
	font-size: 20px;
	line-height: 30px;
	color: #ffffff;
}
.partner-img {
margin-top: 30px;
}
